/* 背景画像設定 */
body {
   background-image:url("../../背景関連画像/Champions少し白い.png");
   background-size:cover;
   background-attachment:fixed;
   background-repeat:no-repeat;
    position: relative;
    z-index: 2; /* 白レイヤーより前に出す */
}
/*  */

.table {
  display: grid;
  grid-template-columns: auto 1fr; /* 左は内容幅、右は残り全部 */
}

.row {
  display: contents; /* 行として扱う（余計な隙間ゼロ） */
}

.cell {
  border: 2px solid #333;
  padding: 6px 6px;
  margin: 0; /* 隙間ゼロ */
}

.show {
   font-size: 20px;
   font-color: #000;
   font-weight: bold;
   display: inline-block; /* ← これが重要 */
   align-items: center;
   margin: 0 auto;             /* 画面中央に配置 */
   display: flex;              /* 横並び */
   justify-content: center;    /* 中央揃え */
}

.pokemon-name {
   background: #9400d3;        /* 背景色 */
   border: 2px solid #333;  /* 枠線 */
   padding: 6px 6px;
   border-radius: 8px;
   width: 250px;               /* ← 好きな幅に指定できる */
}

.pokemon-img {
}

.pokemon-text{
}
