/* 背景画像設定 */
body {
   background-image:url("../../背景関連画像/Champions少し白い.png");
   background-size:cover;
   background-attachment:fixed;
   background-repeat:no-repeat;
    position: relative;
    z-index: 2; /* 白レイヤーより前に出す */
}
/*  */


/* ------------------------------ */


/* --ポケモン紹介-- */

  /* -横並び設定(画面の縮小拡大に影響されないための設定)- */
    /* 親 */
    .show-parent {
       display: flex;           /* ブロック横並び */
       justify-content: center; /* ブロックを中央揃え */
    }
    /*  */
    /* 子 */
    .show-child {
       display: flex;           /* ブロック横並び */
       gap: 5px;                /* 間隔設定(flexのため、横のみに適応) */
       flex-shrink: 0           /* 画面が小さくても縮まらない */
    }
    /*  */
  /* - - */

  /* -ポケモンの名前- */
    /* 名前ブロック */
    .name-block {
       background: #9400d3;    /* 背景色 */
       border: 2px solid #333; /* 枠線 */
       padding: 3px 3px;       /* 中の物と枠の間隔 */
       width: 300px;           /* ← 好きな幅に指定できる */
       text-align: center;     /* 文字中央揃え */
    }
    /*  */
    /* フォント設定 */
    .pokemon-name {
       font-size: 15px;   /* 文字の大きさ */
       font-weight: bold; /* フォント */
       color: #fff;       /* 文字の色 */
    }
    /*  */
  /* - - */

  /* -種族値- */
    /* 種族値ブロック */
    .text-block {
       background: #dcdcdc;    /* 背景色 */
       border: 2px solid #333; /* 枠線 */
       padding: 3px 3px;       /* 中の物と枠の間隔 */
       width: 300px;           /* ← 好きな幅に指定できる */
       text-align: center;     /* 文字中央揃え */
       border-top: none;       /* 上の枠線だけ消す */ /* これによって枠線が2重にならない */
    }
    /*  */
    /* フォント設定 */
    .pokemon-stats {
       font-size: 15px;   /* 文字の大きさ */
       font-weight: bold; /* フォント */
       color: #000;       /* 文字の色 */
    }
    /*  */
  /* - - */

/* -- -- */


/* ------------------------------ */

.img-block {
   background: #ffffff;    /* 背景色 */
   border: 2px solid #333; /* 枠線 */
   padding: 3px 3px;       /* 中の物と枠の間隔 */
   width: 300px;           /* ← 好きな幅に指定できる */
   weight: 300px;
   text-align: center;     /* 文字中央揃え */
   border-top: none;       /* 上の枠線だけ消す */ /* これによって枠線が2重にならない */
}

img {
   width: 200px;
   weight: 200px;
}

.pokemon-text{
}
